@{
    Layout = "~/_Layout.cshtml"; <!-- Uses relative addressing ~goes to WebApp-->
    Page.Title = "RadioButtons";
}

@section head{
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Radio Buttons for Razor Form Samples</h1>
}

@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}
