@{
    //These pages process physically from top to bottom


    Layout = "~/_Layout.cshtml"; <!-- Uses relative addressing ~goes to WebApp-->
    Page.Title = "TextBoxes";

    // gather the data from the form
    // data will come in as strings
    // if the .form field does not exist, null is returned
    var leftside = Request.Form["leftinput"];
    var rightside = Request.Form["rightinput"];
    var thebutton = Request.Form["formbutton"]; //Buttons have a value parameter
}

@section head{
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Text boxes for Razor Form Samples</h1>
}
<!-- Content body form-->
@if (IsPost)// Auto True
{
    if (thebutton.Equals("reset"))
    {
        leftside = "";
        rightside = "";
    }
    else
    {
        //Validation of data coming in
        if (string.IsNullOrWhiteSpace(leftside) || string.IsNullOrWhiteSpace(rightside))
        {
            <p>Enter data in both input fields (name and colour)</p>
        }
        else
        {
            if (thebutton.Equals("leftinput"))
            {
                <P>Hello. Your name is @leftside</P>
            }
            else
            {
                <p>@leftside , your favorite color is @rightside</p>
            }
        }
    }
}
else
{
    <p>This form is in initialization</p>
}
<form id="form" action="#" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="leftinput">Your Name:</label>
            <input type="text" id="leftinput" name="leftinput"
                   placeholder="enter your name"
                   value="@leftside" />
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn" value="leftinput">
                Press Left
            </button>
        </div>
        <div class="col-md-6">
            <label for="rightinput">Your Favorite Color:</label>
            <input type="text" id="rightinput" name="rightinput"
                   placeholder="enter your color"
                   value="@rightside" />
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn" value="rightinput">
                Press Right
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn" value="reset">Reset</button>
        </div>
    </div>
</form>

@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}