@{
    Layout = "~/_Layout.cshtml";
}

@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>DropDownList (select tag)</h1>
}

@if (IsPost)
{
    var choice = Request.Form["pageselection"];
    switch (choice.ToUpper())
    {
        case "TEXTBOXES":
            {
                //go redirect yourself to another page
                // you use the Response.Redirect command
                //this command needs the destination page
                // as an argument value
                //use relative addressing to get to your
                // destination page
                Response.Redirect("TextBoxes.cshtml");
                break;
            }
        case "RADIOBUTTONS":
            {
                Response.Redirect("RadioButtons.cshtml");
                break;
            }
        case "CHECKBOXES":
            {
                Response.Redirect("CheckBoxes.cshtml");
                break;
            }
        default:
            {
                <p><span style="color:firebrick">
                    <strong>Make at page choice from the list.</strong></span></p>
                break;
            }
    }
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-4">
            <label for="pageselection">Select sample page:</label>
            &nbsp;&nbsp;
            <!-- the select tag is used for a dropdown list
         each item in the list is setup using the option tag
         a data value is associated with the list item
             by using the value attribute-->
            <select id="pageselection" name="pageselection">
                <option value="">select ...</option>
                <option value="TextBoxes">TextBoxes</option>
                <option value="RadioButtons">RadioButtons</option>
                <option value="CheckBoxes">CheckBoxes</option>
            </select>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary"
                    id="formbutton" name="formbutton" value="submit">
                Go To ...
            </button>
        </div>
    </div>
</form>
