@{
    Layout = "~/_Layout.cshtml"; <!-- Uses relative addressing ~goes to WebApp-->
    Page.Title = "Home-Page";
}

@section banner{
    <h1>Home Page for Razor Form Samples</h1>
    <p>Hello world!</p>
}

@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}